@import "tailwindcss";

.primary-color {
  color: #293deb;
}

.join-btn {
  background: linear-gradient(299.55deg, #0013b6 17.8%, #0066fe 108.49%);
}

.join-btn:hover {
  background: linear-gradient(120deg, #0066fe 17.8%, #0013b6 108.49%);
}

.text-tight-compact {
  line-height: 1;
  letter-spacing: -0.04em;
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0) scaleX(1);
  }
  50% {
    transform: translateY(4px) scaleX(1.01);
  }
}

.animate-wave {
  animation: wave 6s ease-in-out infinite;
}

@layer utilities {
  .bg-grid-white\/\[0\.02\] {
    background-size: 80px 80px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.03) 1px,
        transparent 1px
      ),
      linear-gradient(to bottom, rgba(0, 0, 0, 0.03) 1px, transparent 1px);
  }
}

/* .top-1 {
  top: 4px;
}
.top-2 {
  top: 8px;
}
.top-3 {
  top: 12px;
}
.top-4 {
  top: 16px;
}
.top-5 {
  top: 20px;
}
.top-6 {
  top: 24px;
}
.top-7 {
  top: 28px;
}
.top-8 {
  top: 32px;
}
.top-9 {
  top: 36px;
}
.top-10 {
  top: 40px;
}
.top-11 {
  top: 44px;
}
.top-12 {
  top: 48px;
}
.top-13 {
  top: 52px;
}
.top-14 {
  top: 56px;
}
.top-15 {
  top: 60px;
}
.top-16 {
  top: 64px;
}
.top-17 {
  top: 68px;
}
.top-18 {
  top: 72px;
}
.top-19 {
  top: 76px;
}
.top-20 {
  top: 80px;
}
.top-21 {
  top: 84px;
}
.top-22 {
  top: 88px;
}
.top-23 {
  top: 92px;
}
.top-24 {
  top: 96px;
}
.top-25 {
  top: 100px;
}
.top-26 {
  top: 104px;
}
.top-27 {
  top: 108px;
}
.top-28 {
  top: 112px;
}
.top-29 {
  top: 116px;
}
.top-30 {
  top: 120px;
}
.top-31 {
  top: 124px;
}
.top-32 {
  top: 128px;
}
.top-33 {
  top: 132px;
}
.top-34 {
  top: 136px;
}
.top-35 {
  top: 140px;
}
.top-36 {
  top: 144px;
}
.top-37 {
  top: 148px;
}
.top-38 {
  top: 152px;
}
.top-39 {
  top: 156px;
}
.top-40 {
  top: 160px;
}
.top-41 {
  top: 164px;
}
.top-42 {
  top: 168px;
}
.top-43 {
  top: 172px;
}
.top-44 {
  top: 176px;
}
.top-45 {
  top: 180px;
}
.top-46 {
  top: 184px;
}
.top-47 {
  top: 188px;
}
.top-48 {
  top: 192px;
}
.top-49 {
  top: 196px;
}
.top-50 {
  top: 200px;
}
.top-51 {
  top: 204px;
}
.top-52 {
  top: 208px;
}
.top-53 {
  top: 212px;
}
.top-54 {
  top: 216px;
}
.top-55 {
  top: 220px;
}
.top-56 {
  top: 224px;
}
 */

.hero-gradient {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 92.51%);
}

.ad-item {
  backdrop-filter: blur(159.1999969482422px);
  background: #66666605;
}

.shadow {
  box-shadow: 0px 4px 24px 0px #00000021;
}

/* embla */
.embla {
  max-width: 48rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 70%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}
.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: "";
}
.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
}
